---
import Layout from '../../layouts/Layout.astro';
import { getService } from '../../api/getService';
import { PageTitle } from '../../components/elements/PageTitle';
import type { Service } from '../../types/service'
import { ServiceCard } from '../../components/elements/ServiceCard';
import ContactImage from "../images/makiyuu-contact.jpg"
import { Image } from 'astro:assets';

const services: Service[] = await getService()
---

<Layout title="Makiyuu Okatazuke">
  <main class="flex flex-col justify-center mt-2 items-center lg:mx-60 mx-4 text-gray-700">
    <PageTitle>SERVICE</PageTitle>
    <section class="my-8">
      <div class="relative text-gray-600">
        <Image src={ContactImage} alt="contact" />
        <div class="absolute top-8 left-4 text-4xl">
          <p class="mb-4">自分のために</p>
          <p>お片づけを始めてみませんか？</p>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-4 lg:w-[40rem] w-[30rem]">
      {services.map((service) => (
        <ServiceCard
          name={service.name}
          price={service.price}
          duration={service.duration}
          description={service.description}
        />
      ))}

    </section>
 </main>
</Layout>

<!-- is:global をつけないとCMSから取得したコンテンツにスタイルが当たらない -->
<!-- https://www.komosyu.dev/posts/13 -->
<!-- <style is:global>
  .post-container h1 {
    font-size: 20px;
    margin: 2rem 0;
  }
  .service-description {
    margin: 2rem 0;
  }
  .service-detail h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  .service-detail h3 {
    font-size: 1.25rem;
    margin: 0.75rem 0;
    font-weight: bold;
  }
  .service-detail h4 {
    font-size: 1.125rem;
    margin: 0.5rem 0;
    font-weight: bold;
  }
  .service-detail ul {
    list-style: disc;
    list-style-position: inside;
  }
  .service-detail p {
    margin-bottom: 0.25rem;
  }
</style> -->