---
import Layout from '../../layouts/Layout.astro';
import { getService } from '../../api/getService';
import { PageTitle } from '../../components/elements/PageTitle';
import type { Service } from '../../types/service'
import { ServiceCard } from '../../components/elements/ServiceCard';
import ContactImage from "../images/makiyuu-contact.jpg"
import { Image } from 'astro:assets';

const services: Service[] = await getService()
---

<Layout title="Makiyuu Okatazuke">
  <div class="flex flex-col justify-center mt-2 items-center lg:mx-80 mx-4 text-gray-700">
    <PageTitle>Service</PageTitle>
    <section class="my-8">
      <div class="relative text-gray-800">
        <Image src={ContactImage} alt="contact" width={640} />
        <div class="absolute md:top-8 top-4 left-4 md:text-2xl text-xl">
          <p class="md:mb-4">自分のために</p>
          <p>お片づけを始めてみませんか？</p>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-4 md:w-[640px] w-full">
      {services.map((service) => (
        <ServiceCard
          name={service.name}
          price={service.price}
          duration={service.duration}
          description={service.description}
        />
      ))}

    </section>
  </div>
</Layout>
