---
import Layout from '../../layouts/Layout.astro';
import { getService } from '../../api/getService';
import { PageTitle } from '../../components/elements/PageTitle';
import type { Service } from '../../types/service'
import { ServiceCard } from '../../components/elements/ServiceCard';
import ContactImage from "../images/makiyuu-contact.jpg"
import { Image } from 'astro:assets';

const services: Service[] = await getService()
---

<Layout title="まきゆう|子育てママの毎日をラクにする|整理収納アドバイザー|サービス一覧">
  <div class="flex flex-col justify-center items-center mt-2 lg:mx-80 mx-4 text-gray-700 sm:p-0 p-2">
    <PageTitle>Service</PageTitle>
    <section class="my-8 max-w-[640px]">
      <div class="relative text-gray-800">
        <Image src={ContactImage} alt="contact" width={ContactImage.width} class="w-full h-auto" />
        <div class="absolute md:top-4 top-4 left-4 md:text-2xl sm:text-xl text-base text-accent">
          <p class="md:mb-4">自分のために</p>
          <p>お片づけを始めてみませんか？</p>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-4 max-w-[640px]">
      {services.map((service) => (
        <ServiceCard
          serviceId={service._id}
          name={service.name}
          price={service.price}
          duration={service.duration}
          description={service.description}
          enableLink
        />
      ))}
    </section>
  </div>
</Layout>
